# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

*.bz2
*.html
*.md
*_cache
*_files
*.knit.md
*.utf8.md
